<h1>nav tag</h1>

<section> 


    <article>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda eos ratione voluptatum cum, laboriosam ullam voluptate exercitationem numquam ad, maxime laborum quos sunt, recusandae repudiandae quia modi quas? Maiores vitae, ut nam quaerat, corporis magnam numquam explicabo repellat aspernatur impedit, doloribus cum praesentium deleniti? Iusto, sit. Eum cupiditate pariatur voluptatibus voluptatem rem eligendi modi maiores ipsam magni magnam quisquam consequuntur, ex aliquid, quae tempora. Cupiditate adipisci animi dolores quam iusto dolore repellat quo doloremque molestiae molestias. Voluptatem reiciendis molestias odio voluptatibus vero exercitationem maiores officiis quisquam rerum cumque neque eius in ipsa consequatur hic vel fugiat dolor laboriosam, nemo quo.</p>
        </article>

        <nav>
            <a href="#">home</a>
            </nav>
        </section>

<>