{% extends 'home.html' %}

{% block title %}
<title> about page</title>
{% endblock %}

{% block h %}
<h2>about page layout</h2>
{% endblock %}



{% block para %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Quae corporis culpa sit aperiam dolores quasi, quia nesciunt doloremque 
    labore repellendus ipsum consequuntur laudantium nemo libero tenetur dicta laborum dolorum 4
    voluptates eveniet, voluptatem velit. A ut perspiciatis vitae tenetur labore, accusamus, 
    dolorum commodi laboriosam esse assumenda voluptate similique! Quo, officia sit!</p>
{% endblock %}
